NODE_ENV=development
PORT=5000
MONGODB_URI=mongodb+srv://vidhantomar2004_db_user:qlNN6WdewyJiJL6l@cluster0.u89j9dm.mongodb.net/?appName=Cluster0
JWT_SECRET=QwErTy@123
OPENAI_API_KEY=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
CLIENT_ORIGIN=http://localhost:5173
